/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
* {
  margin: 0;
  padding: 0; }

body {
  padding: 2rem;
  margin: 0px;
  background-color: #faf3f3; }
  @media only screen and (max-width: 37.5em) {
    body {
      padding: 0px; } }

body {
  font-family: "Lato",sans-serif; }

html {
  font-size: 62.5%; }

.heading-primary {
  color: white; }
  .heading-primary--main {
    display: block;
    font-size: 4rem;
    font-weight: 400;
    letter-spacing: 1.3rem;
    text-transform: uppercase;
    margin-bottom: .75rem; }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--main {
        font-size: 2rem;
        letter-spacing: 0px; } }
  .heading-primary--sub {
    letter-spacing: .2rem;
    display: block;
    font-size: 1.5rem;
    font-weight: 300;
    text-align: right;
    margin-right: 1.3rem; }

.heading-secondary {
  font-size: 4rem;
  text-align: center;
  color: white;
  background-color: #3d84b8; }

.header {
  height: 15vh;
  background-color: #3d84b8;
  position: relative;
  border-radius: 1rem; }
  @media only screen and (max-width: 37.5em) {
    .header {
      height: 15vh;
      border-radius: 0px; } }
  .header__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
  .header__logo-box {
    top: 25%;
    left: 2rem;
    position: absolute; }
  .header__logo {
    height: 6rem;
    width: 6rem;
    border-radius: 50%; }
    @media only screen and (max-width: 37.5em) {
      .header__logo {
        height: 3rem;
        width: 3rem; } }

.data {
  height: auto;
  border: .1rem solid black; }
  .data__list {
    list-style: none;
    width: 100%; }
  .data__item {
    display: block;
    overflow: hidden; }
  .data__link {
    padding: 1.2rem;
    font-size: 2rem;
    text-decoration: none;
    display: block; }
    .data__link:visited, .data__link:link {
      color: #344fa1;
      border-bottom: .1rem solid #3d84b8; }
    .data__link:hover, .data__link:active {
      border-radius: 1rem;
      color: white;
      background-color: #3d84b8;
      text-decoration: none;
      transition: all .4s; }

.Row {
  max-width: 114rem;
  margin: 0 auto; }
  .Row:not(:last-child) {
    margin-bottom: 8rem; }
    @media only screen and (max-width: 56.25em) {
      .Row:not(:last-child) {
        margin-bottom: 6rem; } }
  @media only screen and (max-width: 56.25em) {
    .Row {
      max-width: 50rem;
      padding: 0 3rem; } }
  .Row::after {
    content: "";
    display: table;
    clear: both; }
  .Row [class^="col-"] {
    float: left; }
    .Row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media only screen and (max-width: 56.25em) {
        .Row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media only screen and (max-width: 56.25em) {
      .Row [class^="col-"] {
        width: 100% !important; } }
  .Row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .Row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .Row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .Row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .Row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .Row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.table, td, th {
  border: 1px solid #ddd;
  text-align: left; }

.table {
  border-collapse: collapse; }
  .table__link:hover, .table__link:active {
    color: blue; }

.info {
  height: 56rem;
  border-color: red; }
  .info__key {
    font-size: 2.5rem;
    padding: 1rem;
    color: #3d84b8; }
  .info__value {
    font-size: 2.5rem;
    padding: 1rem; }

.navigation {
  height: 0px; }
  .navigation__list {
    display: none; }
  .navigation__checkbox {
    display: none; }

@media only screen and (max-width: 37.5em) {
  .navigation__checkbox {
    display: none; }
  .navigation__button {
    background-color: #fff;
    height: 5rem;
    width: 5rem;
    position: fixed;
    top: 7rem;
    right: 7rem;
    border-radius: 50%;
    z-index: 2000;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
    text-align: center;
    cursor: pointer; } }
  @media only screen and (max-width: 37.5em) and (max-width: 56.25em) {
    .navigation__button {
      top: 4rem;
      right: 4rem; } }

@media only screen and (max-width: 37.5em) {
  .navigation__background {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    position: fixed;
    top: 1.5rem;
    right: 1rem;
    background-image: radial-gradient(#7ed56f, #28b485);
    z-index: 1000;
    transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); } }
  @media only screen and (max-width: 37.5em) and (max-width: 56.25em) {
    .navigation__background {
      top: 4.5rem;
      right: 4.5rem; } }

@media only screen and (max-width: 37.5em) {
  .navigation__nav {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2500;
    opacity: 0;
    width: 0;
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }
  .navigation__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    width: 100%; }
  .navigation__item {
    margin: 1rem; }
  .navigation__link:link, .navigation__link:visited {
    display: inline-block;
    font-size: 3rem;
    font-weight: 300;
    padding: 1rem 2rem;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
    background-size: 220%;
    transition: all .4s; }
    .navigation__link:link span, .navigation__link:visited span {
      margin-right: 1.5rem;
      display: inline-block; }
  .navigation__link:hover, .navigation__link:active {
    background-position: 100%;
    color: #55c57a;
    transform: translateX(1rem); }
  .navigation__checkbox:checked ~ .navigation__background {
    transform: scale(80); }
  .navigation__checkbox:checked ~ .navigation__nav {
    opacity: 1;
    width: 100%; }
  .navigation__icon {
    position: relative;
    margin-top: 2.5rem; }
    .navigation__icon, .navigation__icon::before, .navigation__icon::after {
      width: 3rem;
      height: 2px;
      background-color: #333;
      display: inline-block; }
    .navigation__icon::before, .navigation__icon::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all .2s; }
    .navigation__icon::before {
      top: -.8rem; }
    .navigation__icon::after {
      top: .8rem; }
  .navigation__button:hover .navigation__icon::before {
    top: -1rem; }
  .navigation__button:hover .navigation__icon::after {
    top: 1rem; }
  .navigation__checkbox:checked + .navigation__button .navigation__icon {
    background-color: transparent; }
  .navigation__checkbox:checked + .navigation__button .navigation__icon::before {
    top: 0;
    transform: rotate(135deg); }
  .navigation__checkbox:checked + .navigation__button .navigation__icon::after {
    top: 0;
    transform: rotate(-135deg); } }

.nav {
  height: 8vh;
  background-color: white;
  margin-top: 1rem; }
  @media only screen and (max-width: 37.5em) {
    .nav {
      display: none; } }
  .nav__list {
    position: relative;
    list-style-type: none;
    width: auto;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .nav__item {
    display: inline-block;
    border-right: .1rem solid black;
    text-transform: uppercase;
    padding: 0 2rem; }
  .nav__link:link, .nav__link:visited {
    position: relative;
    text-decoration: none;
    color: #3d84b8;
    font-size: 2rem;
    padding: 1rem 2rem; }
  .nav__link:hover, .nav__link:active {
    transform: translateX(1rem);
    text-decoration: none;
    background-position: 100%;
    background-color: #3d84b8;
    color: white;
    transition: all .5s; }

.section-content {
  margin-top: 9rem; }

.section-main {
  margin-top: 9rem; }
