.data{
  height: auto;
  border: .1rem solid black;
  &__list{
    list-style: none;

    width: 100%;
  }
  &__item{
    display:block;
overflow: hidden;

  }
  &__link{
padding:1.2rem;
    font-size: 2rem;
    text-decoration: none;
    display: block;
    &:visited,
    &:link{
      color: #344fa1;
      border-bottom: .1rem solid #3d84b8;

    }
    &:hover,
    &:active{
      border-radius: 1rem;
      color:white;
      background-color: #3d84b8;
      text-decoration: none;
 transition: all .4s;
    }
  }
}
