<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <title>this is home page</title>
  <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="navigation">
            <input type="checkbox" class="navigation__checkbox" id="xxx">

            <label for="xxx" class="navigation__button">
                <span class="navigation__icon">&nbsp;</span>
            </label>

            <div class="navigation__background">&nbsp;</div>

            <nav class="navigation__nav">
                <ul class="navigation__list">
                    <li class="navigation__item"><a href="#" class="navigation__link"><span>01</span>About Natous</a></li>
                    <li class="navigation__item"><a href="#" class="navigation__link"><span>02</span>Your benfits</a></li>
                    <li class="navigation__item"><a href="#" class="navigation__link"><span>03</span>Popular tours</a></li>
                    <li class="navigation__item"><a href="#" class="navigation__link"><span>04</span>Stories</a></li>
                    <li class="navigation__item"><a href="#" class="navigation__link"><span>05</span>Book now</a></li>
                    </ul>
            </nav>
        </div>
  <header class="header">

    <div class="header__logo-box">
      <img src="../public/img/logo.jpeg" alt="Logo" class="header__logo">
    </div>

    <div class="header__text-box">
      <h1 class="heading-primary">
        <span class="heading-primary--main">sarkarigarh</span>
        <span class="heading-primary--sub">www.sarkarigarh.com</span>
      </h1>

      <!-- <a href="#section-tours" class="btn btn--white btn--animated">Discover our tours</a> -->
    </div>
  </header>

  <nav class="nav">
    <ul class="nav__list">
      <li class="nav__item"><a href="#" class="nav__link">latest jobs</a></li>
      <li class="nav__item"><a href="#" class="nav__link">admission</a></a></li>
      <li class="nav__item"><a href="#" class="nav__link">govt. schemes</a></li>
      <li class="nav__item"><a href="#" class="nav__link">results</a></li>
      <li class="nav__item"><a href="#" class="nav__link">syllabus</a></li>
      <li class="nav__item"><a href="#" class="nav__link">contact</a></li>
    </ul>
  </nav>

  <section class="section-content">
    <div class="Row">
      <div class="col-1-of-3">
        <div class="data">
          <div class="heading-secondary">
            Latest Post
          </div>
          <ul class="data__list">
            <li class="data__item"><a href="main.html" class="data__link">upsc 2021</a></li>
            <li class="data__item"><a href="" class="data__link">bpsc 20022</a></li>
            <li class="data__item"><a href="" class="data__link">upsc 2021</a></li>
            <li class="data__item"><a href="" class="data__link">upsc 2021</a></li>
            <li class="data__item"><a href="" class="data__link">upsc 2021</a></li>
            <li class="data__item"><a href="" class="data__link">upsc 2021</a></li>
            <li class="data__item"><a href="" class="data__link">upsc 2021</a></li>
            <li class="data__item"><a href="" class="data__link">upsc 2021</a></li>
          </ul>
        </div>

      </div>
      <div class="col-1-of-3">
        <div class="data">
          <div class="heading-secondary">
            Admission
          </div>
          <ul class="data__list">
            <li class="data__item"><a href="" class="data__link">upsc 2021</a></li>
            <li class="data__item"><a href="" class="data__link">bpsc 20022</a></li>
            <li class="data__item"><a href="" class="data__link">upsc 2021</a></li>
            <li class="data__item"><a href="" class="data__link">upsc 2021</a></li>
            <li class="data__item"><a href="" class="data__link">upsc 2021</a></li>
            <li class="data__item"><a href="" class="data__link">upsc 2021</a></li>
            <li class="data__item"><a href="" class="data__link">upsc 2021</a></li>
            <li class="data__item"><a href="" class="data__link">upsc 2021</a></li>
          </ul>
        </div>

      </div>
      <div class="col-1-of-3">
        <div class="data">
          <div class="heading-secondary">
            Govt. Schemes
          </div>
          <ul class="data__list">
            <li class="data__item"><a href="" class="data__link">upsc 2021</a></li>
            <li class="data__item"><a href="" class="data__link">bpsc 20022</a></li>
            <li class="data__item"><a href="" class="data__link">upsc 2021</a></li>
            <li class="data__item"><a href="" class="data__link">upsc 2021</a></li>
            <li class="data__item"><a href="" class="data__link">upsc 2021</a></li>
            <li class="data__item"><a href="" class="data__link">upsc 2021</a></li>
            <li class="data__item"><a href="" class="data__link">upsc 2021</a></li>
            <li class="data__item"><a href="" class="data__link">upsc 2021</a></li>
          </ul>
        </div>

      </div>
    </div>
    <div class="Row">

      <div class="col-1-of-3">
        <div class="data">
          <div class="heading-secondary">
            Results
          </div>
          <ul class="data__list">
            <li class="data__item"><a href="" class="data__link">upsc 2021</a></li>
            <li class="data__item"><a href="" class="data__link">bpsc 20022</a></li>
            <li class="data__item"><a href="" class="data__link">upsc 2021</a></li>
            <li class="data__item"><a href="" class="data__link">upsc 2021</a></li>
            <li class="data__item"><a href="" class="data__link">upsc 2021</a></li>
            <li class="data__item"><a href="" class="data__link">upsc 2021</a></li>
            <li class="data__item"><a href="" class="data__link">upsc 2021</a></li>
            <li class="data__item"><a href="" class="data__link">upsc 2021</a></li>
          </ul>
        </div>

      </div>
      <div class="col-1-of-3">
        <div class="data">
          <div class="heading-secondary">
            Latest Post
          </div>
          <ul class="data__list">
            <li class="data__item"><a href="" class="data__link">upsc 2021</a></li>
            <li class="data__item"><a href="" class="data__link">bpsc 20022</a></li>
            <li class="data__item"><a href="" class="data__link">upsc 2021</a></li>
            <li class="data__item"><a href="" class="data__link">upsc 2021</a></li>
            <li class="data__item"><a href="" class="data__link">upsc 2021</a></li>
            <li class="data__item"><a href="" class="data__link">upsc 2021</a></li>
            <li class="data__item"><a href="" class="data__link">upsc 2021</a></li>
            <li class="data__item"><a href="" class="data__link">upsc 2021</a></li>
          </ul>
        </div>

      </div>
      <div class="col-1-of-3">
        <div class="data">
          <div class="heading-secondary">
            Latest Post
          </div>
          <ul class="data__list">
            <li class="data__item"><a href="" class="data__link">upsc 2021</a></li>
            <li class="data__item"><a href="" class="data__link">bpsc 20022</a></li>
            <li class="data__item"><a href="" class="data__link">upsc 2021</a></li>
            <li class="data__item"><a href="" class="data__link">upsc 2021</a></li>
            <li class="data__item"><a href="" class="data__link">upsc 2021</a></li>
            <li class="data__item"><a href="" class="data__link">upsc 2021</a></li>
            <li class="data__item"><a href="" class="data__link">upsc 2021</a></li>
            <li class="data__item"><a href="" class="data__link">upsc 2021</a></li>
          </ul>
        </div>

      </div>
    </div>

  </section>
</body>

</html>
