<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <title>main page HTML</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <header class="header">
    <div class="header__logo-box">
      <img src="../public/img/logo.jpeg" alt="Logo" class="header__logo">
    </div>

    <div class="header__text-box">
      <h1 class="heading-primary">
        <span class="heading-primary--main">sarkarigarh</span>
        <span class="heading-primary--sub">www.sarkarigarh.com</span>
      </h1>

      <!-- <a href="#section-tours" class="btn btn--white btn--animated">Discover our tours</a> -->
    </div>
  </header>

  <nav class="nav">
    <ul class="nav__list">
      <li class="nav__item"><a href="#" class="nav__link">latest jobs</a></li>
      <li class="nav__item"><a href="#" class="nav__link">admission</a></a></li>
      <li class="nav__item"><a href="#" class="nav__link">govt. schemes</a></li>
      <li class="nav__item"><a href="#" class="nav__link">results</a></li>
      <li class="nav__item"><a href="#" class="nav__link">syllabus</a></li>
      <li class="nav__item"><a href="#" class="nav__link">contact</a></li>
    </ul>
  </nav>
  <section class="section-main">
    <div class="Row">
      <div class="col-1-of-3">
        <div class="info">
            <div class="heading-secondary">quick apply</div>

<div class="col-1-of-2">
<div class="info__key">Apply</div>
<div class="info__key">Apply</div>

<div class="info__key">Apply</div>

<div class="info__key">Apply</div>

</div>
<div class="col-1-of-2">
<div class="info__value"><a class="info__link" href="">click</a></div>

<div class="info__value"><a class="info__link" href="">click</a></div>

<div class="info__value"><a class="info__link" href="">click</a></div>

<div class="info__value"><a class="info__link" href="">click</a></div>
</div>
</div>
      </div>
      <div class="col-1-of-3"><div class="info">
          <div class="heading-secondary">quick apply</div>

          <div class="col-1-of-2">
          <div class="info__key">Apply</div>
          <div class="info__key">Apply</div>

          <div class="info__key">Apply</div>

          <div class="info__key">Apply</div>

          </div>
          <div class="col-1-of-2">
          <div class="info__value"><a class="info__link" href="">click</a></div>

          <div class="info__value"><a class="info__link" href="">click</a></div>

          <div class="info__value"><a class="info__link" href="">click</a></div>

          <div class="info__value"><a class="info__link" href="">click</a></div>
          </div>
</div></div>
      <div class="col-1-of-3"><div class="info">
          <div class="heading-secondary">quick apply</div>

<div class="col-1-of-2">
<div class="info__key">Apply</div>
<div class="info__key">Apply</div>

<div class="info__key">Apply</div>

<div class="info__key">Apply</div>

</div>
<div class="col-1-of-2">
<div class="info__value"><a class="info__link" href="">click</a></div>

<div class="info__value"><a class="info__link" href="">click</a></div>

<div class="info__value"><a class="info__link" href="">click</a></div>

<div class="info__value"><a class="info__link" href="">click</a></div>
</div>
</div></div>
    </div>
  </section>

</body>

</html>
